body {
   /* background-image: url(monumental.jpg);*/ /*lo borro pa q no joda */ 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    min-height: 100vh;
}

/*----GENERAL---*/
.river-titulo {
    font-size: 60px;
    font-family: 'Arial', sans-serif;
    color: white;
    text-align: center;
    margin-top: 20px;
    background-color: red;
    border-radius: 15px;
    padding: 10px;
}
.tarjeta-link {
    background: radial-gradient(rgb(255, 0, 0), rgba(0, 0, 0, 0.705) );   
    padding: 30px;
    text-align: center;
    border-radius: 20px;
    font-size: 50px;
}
.tarjeta-link img {
    width: 40px; 
    height: 40px;
}
.tarjeta-link a:link,
.tarjeta-link a:visited {
    text-decoration: none;
    color: white;
}
.tarjeta-link:hover {
    background-color: gray;
    transition-duration: 1s;
}

/*----ITEM COMUN DE PAGINA----*/
.titulo-item {
    color: red;
    font-family: 'Arial', sans-serif;
    margin: 10px 0;
    padding: 5px;
    margin-right: 35px;
}